# Base Framework
Django>=4.2,<5.2

# Database Connection (Supabase/Postgres)
psycopg2-binary
dj-database-url
python-dotenv

# Data Processing & Excel
pandas
openpyxl
XlsxWriter
django-import-export

# Production Server
gunicorn

# Development Tools
django-debug-toolbar

# UI Framework
django-bootstrap5